version: "3.1"
services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_USER: postgres
      POSTGRES_DB: DadosExtraidos
    ports:
      - 5432:5432

  app:
    build: .
    ports:
     - 8080:8080
    depends_on: 
     - db
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 60; done; go run main.go'